<h1>QED Webdevelopment</h1>
<br>
<h2>Development pages:</h2>

<ul>
  <li><%= link_to "Google Maps API", googlemaps_path,  class: "" %></li>
  <li>Subject 3</li>
  <li>Subject 4</li>
  <li>Subject 5</li>
  <li>Subject 6</li>
</ul>
