@import "application";

.textblocks{
  border-bottom: solid gray 2px;
  min-height: 50px;
  padding: 20px 0px 20px 0px;
}

.textblock {
  margin: 30px;
}

.text {
  margin: 10px;
  padding: 10px;
  border: 2px dotted lightgrey;
}

.edit-block {
  display: none;
  margin: 30px;
}
